
.navbtn:hover
{
    -fx-background-color : #2A363F;
    -fx-border-width :  0 0 0 10;
    -fx-border-color :   #6ed9a0;
    -fx-text-fill: white;
}
.button
{
    -fx-background-color : transparent;
}
#btnSO:hover
{
    -fx-background-color: red;
}
.table-view{
    -fx-base: #2A363F;
    -fx-control-inner-background: white;
    -fx-background-color:transparent;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 1;
    -fx-selection-bar-non-focused: #008287 ;   
}
.table-view .column-header-background{
    -fx-background-color: #1d1d1d;
    -fx-border-color: transparent transparent rgba(255,255,255,0.3) transparent;
    -fx-border-width: 1;
    -fx-background-insets: 0;
}